h1
{
background-color:blue
border:10px solid.red;
background-position:top center;
}
h2
{
	background-color: red;
}
{
	background-color:red;
}
body
{

	background-color:pink;
}

{

	background-blue;
	
}
